body {
  font-family: Fraunces, serif;
  margin: 0px;
  box-sizing: border-box;
  font-size: 1.125rem;
  line-height: 32px;
}
header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #24053e;
  padding-bottom: 50px;
}

header a {
  color: #ffffff;
  font-family: Manrope, sans-serif;
  margin-bottom: 20px;
}

header a:hover {
  color: #44ffa1;
}

.learn-More a:hover,
.founder-note a:hover {
  background-color: #24053e;
  color: #44ffa1;
  border: 1px solid #44ffa1;
}

.pattern {
  display: none;
}

main .container-head {
  background-color: #24053e;
}

.access-Link,
u {
  text-decoration-color: #44ffa1;
}

h1 {
  margin: 0px 35px;
  color: #ffffff;
  text-align: center;
  font-size: 2rem;
  /* font-size:xx-large; */
  line-height: 40px;
  font-family: Fraunces, serif;
}

.learn-More {
  text-align: center;
  margin-top: 40px;
}

.learn-More a {
  padding: 17px;
  background-color: #44ffa1;
  text-decoration: none;
  color: #24053e;
  font-family: Manrope, sans-serif;
  font-weight: 600;
}

.learn-More + img {
  display: block;
  margin: 30px auto 20px;
  width: 80%;
  position: relative;
  top: 115px;
}

article {
  text-align: center;
  background-color: #fcf8ff;
}

article .first {
  margin-top: 160px;
}

.goals {
  padding: 15px;
}

.goals > p {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 50%;
  font-family: Fraunces, serif;
  border: 1px solid #24053e;
}

h2 {
  color: #24053e;
}

h2 + p {
  font-family: Manrope, sans-serif;
}

.founder-image {
  margin: auto;
  background-color: #ffffff;
}

.founder-image img {
  margin: 90px auto 10px;
  width: 70%;
  display: flex;
}

.founder-note {
  text-align: center;
  position: relative;
  top: -90px;
  background-color: #24053e;
  margin: 0px 20px;
  font-size: medium;
  padding: 25px;
  padding-bottom: 40px;
}

.founder-note h2 {
  color: #ffffff;
}

.founder-note p {
  font-family: Manrope, sans-serif;
  color: #ffffff;
}

.founder-note a {
  text-decoration: none;
  padding: 15px;
  background-color: #44ffa1;
  color: #24053e;
  font-family: Manrope, sans-serif;
  font-weight: 700;
  margin-bottom: 100px;
}

footer {
  width: 116px;
  margin: auto;
  background: #ffffff;
}

footer .social-Logo {
  margin-top: 60px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 26.625rem) {
  body {
    line-height: 30px;
  }

  header {
    padding-bottom: 70px;
  }

  h1 {
    font-size: 3.5rem;
    margin: 0px 170px;

    line-height: 56px;
  }

  .pattern {
    display: block;
    position: absolute;
  }

  .bg-pattern-1 {
    top: 50px;
    left: -230px;
  }

  .bg-pattern-2 {
    width: 70px;
    top: 250px;
    right: 0px;
    overflow: hidden;
  }

  .bg-pattern-3 {
    top: 300px;
    left: 260px;
  }

  .goals {
    display: flex;
    gap: 10px;
    text-align: left;
    font-size: medium;
    padding: 15px 105px;
  }

  .goals > p {
    width: 80px;
    height: 40px;
  }

  .founder-image img {
    margin-left: 40px;
    width: 40%;
    /* justify-self: left; */
  }

  .founder-note {
    text-align: left;
    position: relative;
    top: -150px;
    left: 90px;
    background-color: #24053e;
    margin: 0px 142px;
    font-size: medium;
    padding: 40px;
    padding-bottom: 70px;
  }

  .founder-note h2 {
    font-size: xx-large;
  }

  .founder-note a {
    margin-top: 20px;
    line-height: 92px;
  }

  footer {
  }
}

@media screen and (min-width: 64rem) {
  .learn-More + img {
    width: 60%;
  }

  .logo {
    margin-top: 50px;
    margin-left: 130px;
  }

  .access-Link {
    margin-top: 50px;
    margin-right: 130px;
  }

  h1 {
    font-size: 5rem;
    margin: 0px 240px;
  }

  .bg-pattern-1 {
    top: 150px;
    left: -140px;
  }

  .bg-pattern-2 {
    width: 120px;
    top: 250px;
    right: 10px;
    overflow: hidden;
  }

  article {
    margin: 150px 80px;
    display: flex;
    border: 1px solid red;
  }

  article .first {
    margin-top: 0px;
  }

  article .first p {
    margin: 0px auto;
  }

  .goals > p {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 50%;
    font-family: Fraunces, serif;
    border: 1px solid #24053e;
    padding: 0px;
  }

  .goals {
    display: flex;
    flex-direction: column;
    padding: 0px;
    text-align: center;
  }
}

@media screen and (min-width: 90rem) {
  h1 {
    font-size: 5rem;
    margin: 0px 380px;
  }

  article {
    margin: 150px 110px;
    gap: 0px;
    display: flex;
    border: 1px solid red;
  }

  .founder-note {
    top: -690px;
    left: 190px;
    margin: 40px;
  }
}
