body {
  font-family: Fraunces, serif;
  margin: 0px;
  box-sizing: border-box;
  font-size: 1.125rem;
  line-height: 32px;
}
header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #24053e;
}

header a {
  color: #ffffff;
  text-decoration: none;
  font-family: Manrope, sans-serif;
}

.pattern {
  display: none;
}

main .container-head {
  background-color: #24053e;
}

.access-Link,
h1 span {
  border-bottom: 2px solid #44ffa1;
}

h1 {
  margin: 0px;
  color: #ffffff;
  text-align: center;
  font-size: 3.125rem;
  font-weight: 400;
  line-height: 40px;
  padding: 60px 0px 20px;
  font-family: Fraunces, serif;
}

.learn-More {
  text-align: center;
  margin-top: 40px;
}

.learn-More a {
  padding: 17px;
  background-color: #44ffa1;
  text-decoration: none;
  color: #24053e;
  font-family: Manrope, sans-serif;
  font-weight: 600;
}

.learn-More + img {
  display: block;
  margin: 30px auto 20px;
  width: 80%;
  position: relative;
  top: 115px;
}

article {
  text-align: center;
  background-color: #fcf8ff;
}

article .first {
  margin-top: 160px;
}

.goals {
  padding: 15px;
}

.goals > p {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 50%;
  font-family: Fraunces, serif;
  color: #24053e;
}

h3 {
  color: #24053e;
}

h3 + p {
  font-family: Manrope, sans-serif;
}

.founder-image {
  margin: auto;
  background-color: #ffffff;
}

.founder-image img {
  margin: 90px auto 10px;
  width: 70%;
  display: flex;
}

.founder-note {
  text-align: center;
  position: relative;
  top: -90px;
  background-color: #24053e;
  margin: 0px 20px;
  font-size: medium;
  padding: 25px;
  padding-bottom: 40px;
}

.founder-note h2 {
  color: #ffffff;
}

.founder-note p {
  font-family: Manrope, sans-serif;
  color: #ffffff;
}

.founder-note a {
  text-decoration: none;
  padding: 15px;
  background-color: #44ffa1;
  color: #24053e;
  font-family: Manrope, sans-serif;
  font-weight: 700;
  margin-bottom: 100px;
}

footer {
  width: 116px;
  margin: auto;
  background: #ffffff;
}

footer .social-Logo {
  margin-top: 60px;
  margin-bottom: 30px;

  display: flex;
  justify-content: space-between;
}
